/* BEST PHILLY CUISINE */
html,
body { height: 100% }

.map {
    margin: auto;
    width: 100%;
 /* border: 3px solid green; */
    padding: 10px;
}

#phillymap { 
    height: 600px;
    width: 1000px; 
}

#ratingsmap { 
    height: 725px;
    width: 1600px;
    margin: auto;
}


.panel {
    margin: auto;
    padding: 10px;
    font-size: 16px;
}

.jumbotron {
    background-color: white;
    padding: 10px;
    border-bottom: 3px solid lavender;
}


.buttons {
    text-align: justify;
    padding: 30px;
    font-size: 16px;
}

footer {
    background-color: white;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: lavender;
    color: darkorchid;
    min-height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    z-index: 2;
}


@media(max-width: 992px) {

    footer {
        font-weight: bold;
        background-color: darkorchid;
    }

    footer a {
        color: white;
    }

    #phillymap {
        max-width: fit-content;
        max-height: fit-content;
    }

    .jumbotron {
        background-color: darkorchid;
        color: white;
        padding: 10px;
        border-bottom: 3px solid lavender;
    }
    
    .well {
        text-align: justify;
        padding: 10px;
        font-size: 16px;
    }

    .panel {
        margin: auto;
        padding: 10px;
        font-size: 16px;
    }


}

  #mainhead-chart-container {
    position: relative;
    height: 100vh;
    overflow: visible;
    display: flex;
    background-blend-mode: saturation;
  }
    
.r-content {
  height: 900px;
}


.r-img {
  height: 100%;
  object-fit: cover;
}