<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Best Philly Cuisine</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- Bootstrap JavaScript -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <!-- Bring stylesheet -->
  <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-6">
      <div id="header">
        <h1 style="font-size: 70px; color: #08519c">Best Philly Cuisine</h1>
        <h7 style="font-size: 12px; color: #08519c">© 2022 Rosie Gianan, Drew Blankenbiller, Myles Browne, Mai Flynn,
          Ryan Kim, Nitin Kumar</h7>
      </div>
    </div>
    <div class="col-md-6">
      <div id="image">
      </div>
      <a><img src="../Images/Philly.jpg" alt="Philly image" width="500" height="110" align="left"></a>
      <!-- <a><img src="Images/Philly.jpg" alt="Philly image" width="280" align="left"></a> -->
    </div>
  </div>
  <hr>
  <!-- header ends here -->



  <!-- details -->
  <div class="row">
    <div class="col-md-2">
      <div id="selection">
        <h4>selection area</h4>

        <div class="well">
          <h5>Food Type Category</h5>
          <!-- <h3>to do: convert this to radio button to select the "type of food" or "type of cuisine"<br></h3>-->
          <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select>-->
          <input type="radio" id="html" name="type_cuisine" value="HTML" onchange="optionChanged(this.value)">
          <label for="html">type of cuisine</label><br>
          
          <input type="radio" id="html" name="type_food" value="HTML" onchange="optionChanged(this.value)">
          <label for="html">type of food</label><br>


        </div>
        <br>
        <div class="well">
          <h5>Select Type</h5>
          <h3>to do: populate the list with category selected i.e "type of food" or "type of cuisine"</h3>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>


      </div>
    </div> <!-- end of selection area -->


    <!-- <div class="row">??? -->
    <div class="col-md-10">

      <div id="graphs">
      </div>
      <h4>graph area</h4>
      <div class="row">
        <div class="col-md-5">
          <h4>1st graph area</h4>
          <h2>to do: 1st graph add a visuslization plot/graph i.e bubble chart using the rating showing higher
            rating larger<br>
          </h2>
          <div id="bar">
          </div>

        </div>
        <!-- </div>
        <div class="row"> -->
        <div class="col-md-5">
          <h4>2nd graph area</h4>
          <h3>to do: add a visualization plot/graph i.e line or bar chart using the rating and number of reviews<br>
            This could be a good area to use the javascript that was not introduce in the class i.e. ChartKick <br>
            <h3>
              <p> link to the Top 15 JavaScript Visualization Libraries: ChartKick is #12 in the list<br>
                https://www.softwaretestinghelp.com/best-javascript-visualization-libraries/</p>
          <div id="gauge">
          </div>
        </div>
      </div>


      <!-- </div>  -->
      <!-- end of top graphs -->
      <!-- </div> -->

      <hr>

      <!-- <div class="row"> -->
      <div class="col-md-12">

        <div id="leaflet">
        </div>

        <div class="col-md-12">
          <h4>leaflet area</h4>
          <h3>to do: Show the leaflet here with round tooltip showing the higher rating larger. On click
            event show the details of the place i.e. address,rating, number of reviews<br>
          <div id="bubble">

            </h3>
          </div>
        </div>

      </div> <!-- end of leaflet area -->
      <!-- </div> -->


    </div> <!-- end of graphs area -->


  </div>

<!-- </div> -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/bonus.js"></script>
</body>

</html>
